@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
    margin: 0px;
}

#userLocation{
    position: absolute;
    top: 10vh;
    left: 35vw;
    font-size: 8vw;
    font-family: 'Source Sans Pro', sans-serif;
}

#temperatureDiv{
    position: absolute;
    top: 40vh;
    left: 35vw;
    font-size: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
}

#weather{
    position: absolute;
    top: 60vh;
    left: 45vw;
    font-size: 4vw;
    font-family: 'Source Sans Pro', sans-serif;
}

#celsiusDiv{
    position: absolute;
    top: 40vh;
    left: 50vw;
    font-size: 4vw;
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;  
}

#fahrenhiteDiv{
    position: absolute;
    top: 40vh;
    left: 60vw;
    font-size: 4vw;
    font-family: 'Source Sans Pro', sans-serif;
    border: 2px solid black;
    padding-left: 15px;
    padding-right: 15px; 
    cursor: pointer;
}
